@import '_colors.scss';
@import '_fontsize.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  height: 20vh;
  width: 100%;

  .logo {
    color: $bg-color2;
    font-size: 2rem;
  }
  span {
    color: $bg-color4;
  }
  ul {
    li {
      display: inline-block;
      list-style: none;
      padding-left: 0.5rem;

      a {
        text-decoration: none;
        color: $bg-color2;
        font-weight: bold;
      }
      a:hover {
        color: $bg-color3;
        transition: 0.3s;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.about {
  height: 80vh;
  width: 100vw;
  background-color: $bg-color;
}
.about img {
  height: auto;
  width: 25vw;
  border-radius: 1rem;
}
.about-text {
  padding-left: 2rem;
  color: $bg-color3;
  letter-spacing: 0.063rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
  width: 60vw;
}
.about-text h2 {
  color: $bg-color2;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.about-text h3 {
  color: $bg-color2;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.service {
  width: 100%;
  padding: 6.25rem 0rem;
  background-color: $bg-color5;
}
.title h2 {
  color: $bg-color2;
  font-size: 4.688rem;
  margin: 1.875rem auto;
  text-align: center;
}
.title h3 {
  color: $bg-color2;
  margin: 0.625rem auto;
  text-align: center;
}
.title h5 a {
  text-decoration: none;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
}
.card {
  height: 22.813rem;
  width: 20.938rem;
  padding: 1.25rem 2.188rem;
  background-color: $bg-color;
  border-radius: 1rem;
  margin: 0.938rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card_icon {
  font-size: 3.125rem;
  display: block;
  text-align: center;
  margin: 1.563rem 0rem;
  color: $bg-color4;
}
h3 {
  color: $bg-color2;
  font-size: 1.438rem;
  margin-bottom: 0.938rem;
}

.pra p {
  color: $bg-color3;
  font-size: 1rem;
  line-height: 1.688rem;
  margin-bottom: 1.563rem;
}
.mywork {
  min-height: 100vh;
  width: 100%;
  padding: 6.25rem 0rem;
  background-color: $bg-color;
}
.boximage {
  width: 30vw;
  height: 40vh;
  margin-left: 1rem;
  border-radius: 1rem;
}
.contact {
  width: 100%;
  height: 110vh;
  background-color: $bg-color5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6.25rem 0rem;
}
.contact p {
  color: $bg-color2;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.563rem;
}
.contact .button {
  background-color: $bg-color4;
  color: $bg-color2;
  text-decoration: none;
  border: 0.125rem solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.contact .button:hover {
  background-color: transparent;
  border: 2px solid $bg-color4;
  cursor: pointer;
}
.contact-form h2 {
  font-size: 3.5rem;
  color: $bg-color2;
  margin-bottom: 1rem;
}
.contact-form p {
  color: $bg-color2;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 3rem;
}
.contact-form h1{
color: $bg-color2;
}
.contact-form form {
  position: relative;
  width: 70vw;
  margin: 0 auto;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background-color: #252525;
  color: $bg-color2;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}
footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: $bg-color2;
}
footer a {
  text-decoration: none;
  color: $bg-color2;
}
footer a:hover {
  color: $bg-color4;
  transition: 0.3s;
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 15px;
    }
  }

  .about {
    h2 {
      font-size: 3rem;
    }
  }
.hero h2{
  font-size: 1.5rem;
}
  .hero ul{
    font-size: 0.7rem;
  }

  .about-text {
    width: 100%;
  }

  .service {
    .box {
      flex-direction: column;
      align-items: center;
    }
  }

  .mywork {
    .box {
      flex-direction: column;
      align-items: center;
    }
    .boximage {
      width: 80vw;
      margin-bottom: 20px;
    }
  }

  .contact-form h2 {
    text-align: center;
  }

  .contact-form p {
    text-align: center;
  }

  .contact-form h1{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  }
  .boximg{
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 1366px){


  .mywork{
    height: 40vh;
  }
  .contact-form h1{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form p{
    display: flex;
  }
  .contact-form span{
    margin-left: 1rem;
  }
  


}

